<%  if (user) {
%><div><%= user.email %></div>
<form action="/logout" method="POST">
  <input type="submit" value="Sign Out">
</form>
<%  } else { %>
<form action="/login" method="GET">
  <input type="submit" value="Sign In">
</form>
<form action="/register" method="GET">
  <input type="submit" value="Register">
</form>
<%  } %>
<h1>TinyApp URL Shortener</h1>