<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <% include ./partials/_header.ejs %>

    <h3>Short URL: <%= shortURL %></h3>

    <form action="/urls/<%= shortURL %>?_method=PUT" method="POST" style="margin:150px;">
      <input id="fullURL" type="text" name="fullURL" style="width: 300px" value="<%= fullURL %>">
      <input type="submit" value="Update">
    </form>

</body>
</html>