<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

  <% include ./partials/_header.ejs %>

    <h3>Short URL: <%= url.shortURL %></h3>

    <form action="/urls/<%= url.shortURL %>?_method=PUT" method="POST">
      <input id="fullURL" type="text" name="fullURL" value="<%= url.url %>">
      <input type="submit" value="Update">
    </form>

</body>
</html>