<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>

    <% include ./partials/_header.ejs %>

    <table>
      <% for (let key in urls) { %>
        <tr>
          <td>http://localhost:8080/<%= urls[key].shortURL %></td>
          <td>(<%= urls[key].url %>)</td>
          <td><form method="GET" action="/urls/<%= key %>"><input type="submit" value="Edit"></form></td>
          <td><form method="POST" action="/urls/<%= key %>?_method=DELETE"><input type="submit" value="Delete"></form></td>
        </tr>
        <% } %>
    </table>

    <h2>Create Short Link</h2>
    <a href="/urls/new">Click here!</a>
</body>
</html>